<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <nav></nav>
        <div id="ct-mobile">
            <main>
                <header>
                    <h2>Meu Dia</h2>
                    <p id="dayDisplay"></p>
                </header>
                <div id="ct-tasks">
                    <section id="ct-ToDo">
                    </section>
                    <section id="ct-Finish">
                    </section>
                </div>
            </main>
            <form id="ct-newEntry">
                <div class="cardTask" id="newEntry">
                    <div id="">
                        <i class="fas fa-plus fa-lg iColor"></i>
                    </div>
                    <input type="text" name="newtaskName" id="newtaskName" placeholder="Add a new Task" required>
                    <input style="display:none" type="submit">
                </div>
            </form>
        </div>
    </body>
</html>