<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <main id="web-view">
            <nav id="menu">
                <div class="nav-side-cards" onclick="Client.closeNav()">
                    <div id="closebtn">&times;</div>
                </div>
                <div class="nav-side-cards">
                    <div>About</div>
                </div>
                <div class="nav-side-cards">
                    <div>Services</div>
                </div>
                <div class="nav-side-cards">
                    <div>Clients</div>
                </div>
                <div class="nav-side-cards">
                    <div>Contact</div>
                </div>
            </nav>
            <article id="mobile-view">
                <main id="main-content">
                    <hgroup id="content-header">
                        <button onclick="Client.openNav()"><i class="fas fa-bars fa-lg"></i></button>
                        <h2>My day</h2>
                        <h4 id="dayDisplay">Segunda-feira</h4>
                    </hgroup>
                    <article id="container-tasks">
                        <div id="finish-tag">Finish</div>
                    </article>
                </main>

                <form id="container-new-entry" class="card-Task">
                    <div id="new-Entry">
                        <i class="fas fa-plus fa-lg"></i>
                        <input type="text" name="newtaskName" id="input-task-entry" placeholder="Add a new Task" required>
                        <input style="display:none" type="submit">
                    </div>
                </form>
            </article>
        </main>
        <article class="infoCards"></article>
        <section id="context-menu">
            <div id="deleteCard" class="item">
                <i class="far fa-trash-alt fa-lg"></i>
            </div>
        </section>
    </body>
</html>