<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <main>
            <section id="ct-ToDo">
                
            </section>  
            <form id="ct-newEntry">
                <input type="checkbox" disabled>

                <label for="taskName"></label>
                <input type="text" name="newtaskName" id="newtaskName" placeholder="Task" required>

                <label for="finish-date"></label>
                <input type="date" id="newtaskfinishDate">
                
                <input style ="display: none" id="submitNewTask"type="submit" value="submit">
            </form>  
        </main>
        <footer>Copyright © 2020 | Andre Soares</footer>
    </body>
</html>