*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    //removing margin and padding to take all view
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;   

    display: grid;
    grid-template-areas: "mobile";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

#web-view {
    background: url('../images/wattle-tree-5358904_1920.jpg') no-repeat center;
    background-size: cover;
    color: white;
}

#mobile-view {
    height: 100%;
    width: 100%;
    padding: 1%;
    margin: 0;
    
    grid-area: mobile;
    
    display: grid;
    row-gap: 1%;
    grid-template-areas:"content_area"
                        "entry_area";
    grid-template-rows: 93% 6%;
    /*91% because of row-gap is 1%*/

    @media only screen and (min-width: 900px) {
        grid-template-rows: 94% 5%;
    }
}

/*
nav{
    grid-area: nav-desktop;
    background-color:#41463D;
    opacity: 0.8;
}

.infoCards{
    grid-area: info;
    background-color:#41463D;
    opacity: 0.8;
}


.cardTask {
    height: 95%;
    background-color: #41463D;
    border-radius: 0.33em;
    display: grid;
    grid-template-columns: 2em 1fr;
    column-gap: 0.5em;
    
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#newtaskName {
    border: none;
    background: none;

    &:focus {
        border: none;
        box-shadow: 0 0 0 0;
        outline: 0;

        color: white;
    }
}

.iColor {
    color: white;
}

// telas maiores de 450/450
*/