#context-menu {
    position: fixed;
    z-index: 99999;
    width: 150px;
    background: #41463D;
    border: 1px solid white;
    transform: scale(0);
    transform-origin: top left;

    &.active{
        transform: scale(1);
        transition: transform 200ms ease-in-out;
    }

    .item{
        color: white;
        padding-left: 5px;

        &:hover {
            background: #82d9bf;
        }

        i {
            display: inline-block;
            margin-right: 5px;
        }
    }
}