body {
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;


    background: url('/src/client/images/wattle-tree-5358904_1920.jpg') no-repeat center;
    background-size: cover;
    color: #41463D;
}